html, body {
    height: 100%;
  }
#contenido{
transition: margin-left 1s ease-in-out;
}

#sidebar{
    padding: 0;
    /*left: 0px;*/
    
    /*transition: width 1s ease-in-out;*/

}


#sidebar.active{
  left:-243px;
  transition: all 500ms linear;
}



#btn-sidebar{
cursor: pointer;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
/*width: 2rem;*/
padding: .5rem 1rem;
border: 1px solid white;
}
#btn-sidebar:hover{
 background: rgba(255, 255, 255, 0.2);

}


.relleno{
    background-color: #1A1C3A;
}
.fondo{
/*background-color:rgba(218, 230, 229, 1);*/
background-color: #1A1C3A;
}

.fondoProductos{
    background-color: #CE850C;
}
.fuenteTitulo{
    font: 400 26px/40px Roboto,Helvetica Neue,sans-serif;
}

#footer{
    background-color: #002E5F;
}
.fondoSidebar{
    background-color: #1B2E4F;
}

#sidebar ul li a{
  padding-top: 50px;
  cursor: pointer;
  color: rgba(500, 500, 500, .9);
 text-align: center;
 padding:10px;
 list-style: none;
}

#sidebar ul li{
cursor: pointer;
color: rgba(500, 500, 500, .9);
text-align: center;
padding: 15px 10px;
border-bottom: 1px solid rgba(100, 100, 100, .3);
border-top: 1px solid rgba(100, 100, 100, .3);
list-style: none;
font-weight: bold;

}

#sidebar ul{
 padding: 0;

}

#sidebar li:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);  
}

.w-80{
    
    width: 80%;
}


@media (min-width: 992px) { 
    
.logoUady {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /*max-width: 75%;
        padding-left:30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;*/
    }





}/*fin @media*/


@media (min-width: 1200px) { 
.fixed{
        position: fixed;
        width: 243px;

    }



}

@media (max-width: 575.98px) { 
.h-sm-75{
    height: 75%!important;
}
.h-sm-50{
    height: 50%!important;
}

.w-sm-50{
    width: 50%!important;
}


}

.w-lg-75{
    width: 75%;
}

.w-13{
    width: 13%!important;
}

.h-22{
    height: 22%!important;
}
.card-body a {
 color:#000 ;
}

.card-body a:hover {
    color:#000 ;
   }


/* ----- ----- NOTIFICACIÓN ----- ----- */
.notificacion {
    position: fixed;
    bottom: 20px;
    /*padding: 10px;*/
    background-color: #ffffff!important;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    transition: 0.3s ease-in all;
    right: -200px;
    
}
.esfumarse {
    opacity: 0;
    right: 0;
  }
.notificacion--active {
    right: 20px;
}

.notificacion__titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}



.notificacion__link {
    color: #000;
    text-decoration: underline;
    font-weight: 500;
}

.custom-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  background-color: #fff;
  width: 25%;
}


.product-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    margin-right: 10px;
    font-weight: bold;
}

.value {
    margin-right: 10px;
}

